@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {

  /* استبدال خط sans الافتراضي بـ Cairo */
  --font-sans: "Cairo", sans-serif;


  --shadow-top-lg: 0 -10px 15px -3px rgb(0 0 0 / 0.1);
}